@import 'stylesheets/globals.scss';
@import 'stylesheets/back4app.scss';

.content {
  @include SoraFont;
  position: relative;
  min-height: calc(#{$content-max-height} - #{$toolbar-height});
  margin-top: $toolbar-height;
  background: $dark;
  color: $white;
  & .mainContent {
    height: calc(#{$content-max-height} - #{$toolbar-height});
    padding: 2.5rem;
    position: relative;
    overflow: auto;
    max-width: 90rem;
    margin: 0 auto;
  }
}

.domainSettingsContainer {
  .heading {
    @include InterFont;
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 140%;
    margin-bottom: 0.5rem;
  }
  .subheading {
    @include InterFont;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 140%;
  }
  .formContainer {
    margin-top: 1.5rem;
  }

  .fieldHr {
    margin: 4px 0;
    border: 0;
  }
}


.error {
  background: #EB5178;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 140%;
  padding: 0.2rem 0.5rem;
  width: 100%;
  text-align: center;
  transition: height 0.3s ease-in-out;
}

.success {
  background: $cta-green;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 140%;
  padding: 0.2rem 0.5rem;
  width: 100%;
  text-align: center;
  transition: height 0.3s ease-in-out;
}

.validateBtn {
  background: $white;
  color: $dark;
}

.note {
  color: $light-grey;
  font-size: 12px;
  font-weight: 400;
  line-height: 140%;
  margin-top: 0.5rem;
}

.customDomainList {
  display: flex;
  flex-direction: column;
  width: 100%;
  & > .customDomainItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    font-size: 14px;
    border-bottom: 1px solid $dark;
    padding: 0.5rem 1rem;
  }
}

.subdomainContainer {
  flex: 0.9;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.subdomain {
  color: $old-blue;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  &:hover {
    text-decoration: underline;
  }
}