div:where(.swal2-container) .swal2-progress-steps .swal2-progress-step {
  width: 1.5rem !important;
  height: 1.5rem !important;
  line-height: 1.5rem !important;
  background: #27AE60;
}

div:where(.swal2-container) .swal2-progress-steps .swal2-progress-step-line, div:where(.swal2-container) .swal2-progress-steps .swal2-progress-step.swal2-active-progress-step {
  background: #27AE60;
}

div:where(.swal2-container) .swal2-progress-steps .swal2-progress-step.swal2-active-progress-step~.swal2-progress-step {
  background: #27ae5f63;
}

div:where(.swal2-container) .swal2-progress-steps .swal2-progress-step.swal2-active-progress-step~.swal2-progress-step-line {
  background: #27ae5f63;
}

div:where(.swal2-container) div:where(.swal2-loader) {
  width: 25px;
  height: 25px;
  border-color: #15A9FF transparent #15A9FF transparent;
  border-width: 0.125rem;
}