<!DOCTYPE html>
<head>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    <base href="/"/>
    <script>
        PARSE_DASHBOARD_PATH = "/";
    </script>
</head>
<html>
<title>Login - Backend Dashboard</title>
<body>
<div id="login_mount"></div>
<!--Start of Zopim Live Chat Script-->
<script>
    window.zEmbed||(function(){
      var queue = [];

      window.zEmbed = function() {
        queue.push(arguments);
      }
      window.zE = window.zE || window.zEmbed;
      document.zendeskHost = "back4app.zendesk.com";
      document.zEQueue = queue;
    }());
  </script>
  <script src="https://assets.zendesk.com/embeddable_framework/main.js" data-ze-csp="true" async defer></script>
<!--End of Zopim Live Chat Script-->
<script src="https://survey.solucx.com.br/widget.js"></script>
<script src="https://cdn.logr-ingest.com/LogRocket.min.js" crossorigin="anonymous"></script>
</body>
</html>
