@import 'stylesheets/globals.scss';
@import 'stylesheets/back4app.scss';

.container {
  @include SoraFont;
  position: relative;
  min-height: calc(#{$content-max-height} - #{$toolbar-height});
  margin-top: $toolbar-height;
  background: $dark;
  color: $white;
  padding: 0 5rem;
  & .header {
    & .title {
      position: relative;
      font-family: 'Sora', sans-serif;
      font-size: 2.1875rem;
      font-weight: 600;
      line-height: 130%;
      margin-bottom: 1.5rem;
      display: flex;
      align-items: center;
      gap: .625rem;
      &::before {
        content: '';
        position: absolute;
        bottom: 0;
        right: calc(100% - 1.5rem);
        width: 1.5rem;
        height: 3px;
        border-radius: 0.25rem;
        background: linear-gradient(90deg, $light-blue -8.33%, $cta-green 100%);
        box-shadow: 0px 0px 7px 0px rgba(193, 226, 255, 0.16);
      }
    }
  }

  & .content {
    & .appName {
      color: 18px;
    }

    & .appInfoCard {
      @include InterFont;
      margin-top: 18px;
      padding: 24px;
      display: flex;
      justify-content: space-between;
      gap: 32px;
      border-radius: 8px;
      border: 1px solid rgba($regal-blue, 0.4);
      font-size: 14px;

      & hr {
        border-color: rgba($regal-blue, 0.4);
        margin: 12px 0;
      }

      & .appInformationBox, & .appKeysBox {
        flex: 1;
      }
      
      & .appInfoCardHeader {
        font-weight: 600;
        margin-bottom: 12px;
        font-size: 16px;
        line-height: 140%;;
      }

      & .appKeyWrapper {
        display: flex;
        justify-content: flex-start;
        gap: 8px;

        & > div {
          flex: 1;
        }

        & .appKeyLabel {
          font-size: 14px;
          color: #ccc;
        }

        & .appKeySelect {
          background: #1B3454;
          padding: 4px 8px;
          border-radius: 4px;
          width: 100%;
          outline: none;
          border: none;
          margin-bottom: 16px;
        }
      }

      & .appContentBtn {
        background: $white;
        color: $dark-blue;
        border: none;
        outline: none;
        border-radius: 12px;
        padding: 8px 12px;
        font-size: 12px;
      }

      & .greyText {
        color: #ccc;
      }
    }

    & .serverLogsWrapper {
      margin: 1rem 0;
      padding: 1.5rem;
      border-radius: .5rem;
      border: 1px solid #253348;
      background: $dark-blue;
      flex: 1;

      & .header {
        margin-bottom: 12px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        & .headerText {
          font-weight: 700;
          font-size: 1rem;
          line-height: 140%;
        }
  
        & .logsLink {
          font-size: 12px;
          color: $old-blue;
        }
      }

      & .logsBox {
        max-height: 282px;
        overflow-y: auto;
        border-radius: 0.25rem;
        background: #090909;
        padding: 0.75rem 1rem;
      }

    }

    & .cardsContainer {
      display: flex;
      justify-content: space-between;
      gap: 1rem;

      & .planDataBox {
        flex: 1;
        padding: 1rem;
        border-radius: 0.25rem;

        & .planUsageHeader {
          display: flex;
          justify-content: space-between;
          align-items: center;
          

          & .planBadge {
            border-radius: 1rem;
            background: #34506F;
            color: #DCF2E1;
            color: 14px;
            padding: 2px 8px;
          } 

          & .planExpiry {
            font-size: 12px;
            color: #ccc;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 1rem;
            flex-wrap: wrap;

            & .planExpiryDate {
              color: $white;
            } 
          }

        } 

        & .planUsageContainer {
          display: flex;
          flex-direction: column;
          // gap: 1.5rem;

          & .planUsageRow {
            display: flex;
            align-items: center;
            gap: 1rem;

            & .planUsageLabel {
              width: 110px;
              font-size: 12px;
              color: #ccc;
            }

            & .planUsageBarContainer {
              display: flex;
              align-items: center;
              flex: 1;
            } 

            & .planUsageBar {
              width: 80%;
              flex: 1;
              height: 8px;
              background: #051127;
              border-radius: 4px;
              overflow: hidden;

              & .usageBarFill {
                height: 100%;
                border-radius: 4px;
              }
            }

            & .planUsageValue {
              font-size: 12px;
              text-align: right;
              width: 110px;
            }
          }
        }

        & hr {
          margin: 12px 0;
          border-color: #253348;
        }
      }
    }

    & .securityContainer {
      padding: 12px;
      background: #1D293E;
      border-radius: 8px;

      & .securityHeader {
        display: flex;
        align-items: center;            
        font-weight: 600;
        font-size: 12px;
        justify-content: space-between;
        margin-bottom: 12px;

        & .actionNeeded svg {
          margin-left: 6px;
        }
      } 
      
      & .securityItem {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: .5rem 1rem;
        border-radius: 4px;
        font-size: 12px;
        background: #253348;
        margin-bottom: 4px;

        & .securityText {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: normal;
          word-break: break-word;
          flex: 1;
          margin-right: 8px;
          // max-height: 2.4em;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          line-clamp: 1;
          -webkit-box-orient: vertical;
        }
      }
      
    }

  }
}
